# Create the Flume agent
a1.sources = source1
a1.sinks = sink1
a1.channels = channel1

# Define the source - listening on TCP port 12345
a1.sources.source1.type = netcat
a1.sources.source1.bind = localhost
a1.sources.source1.port = 12345

# Define the channel
a1.channels.channel1.type = memory
a1.channels.channel1.capacity = 10000
a1.channels.channel1.transactionCapacity = 10000

# Define the sink - HDFS sink to store the data in HDFS
a1.sinks.sink1.type = hdfs
a1.sinks.sink1.hdfs.path = hdfs://localhost:8020/training/flume/stock
a1.sinks.sink1.hdfs.fileType = DataStream
a1.sinks.sink1.hdfs.rollSize = 524288


# Bind the source and sink to the channel
a1.sources.source1.channels = channel1
a1.sinks.sink1.channel = channel1

